@charset "UTF-8";


div {
    text-align: center;
}

h2 {
    text-indent: 20px;
}

.kaue {
    background: linear-gradient(#053A80, #036FAC, #02A5D8, #036FAC, #053A80);
}

.startse {
    height: 60px 
    
}

.ajude {
    display: flex;
    align-self: right;
    height: 80px;
}

.grupo {
    height: 80px;
}

.fb {
    display: flex;
    align-self: center;
}